<div class="modal" id="modal">
  <div class="modal-header">
    <h2>Регистрация</h2>
  </div>

  <p class="text-warning"><%= notice %></p>
  <p class="text-error"><%= alert %></p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label 'Электронная почта' %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div><%= f.label 'Пароль (не менее 8 символов)' %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div><%= f.label 'Повторить пароль' %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div>
        <%= f.label 'Имя' %>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label 'Фамилия' %>
        <%= f.text_field :surname %>
      </div>

      <div>
        <%= f.label 'Ник' %>
        <%= f.text_field :nic %>
      </div>

      <div>
        <%= f.label 'Город' %>
        <%= f.text_field :city %>
      </div>

      <div id='choose_file'>
        <%= f.label 'Изображение профиля' %>
        <%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg' %>
      </div>

      <div>
        <%= f.submit "Зарегистрироваться", class: 'btn' %>
      </div>
  <% end %>
  <div class="modal-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>