<%= "<div id='#{post.id}'class='well well-tweet'>".html_safe %>
<div class="container-fluid">
  <div class="span1">
    <%= image_tag post.user.avatar.url, class:"img-rounded", size: :small%>
  </div>
  <div class="span9">
    <div id="tweet_header">
      <strong>
        <%= link_to full_name(post.user), persons_profile_path({user_id: post.user.id}) %>
      </strong>
      <%= link_to format_nic(post.user), persons_profile_path({user_id: post.user.id}) %>
      <span class='pull-right'>
        <%= how_old_is_post post %>
        </span>
    </div>
    <%= simple_format post.body %>
  </div>
  <div id="options_panel" class="pull-right">
    <% if post.user == current_user %>
        <%= link_to "&times".html_safe, persons_delete_post_path({post_id: post.id}), remote: true, method: :delete,
                    class: 'close', rel:"tooltip", title:"Удалить", data:{placement:"top"} %>
    <% end %>
  </div>
</div>
<div id="tweet_footer">
  <% if post.user != current_user %>
      <%= link_to '<i class="fa fa-retweet fa-2x" style="color:#bababa"></i>'.html_safe,
                  persons_retweet_post_path({post_id: post.id}), remote: true, method: :post, id:"retweet_link",
                  rel:"tooltip", title:"Ретвитнуть", data:{placement:"top"}%>
  <% end %>
</div>
</div>