<div class="well well-tweet">
  <div class="container-fluid">
    <div class="span1">
        <%= image_tag post.user.avatar.url, class:"img-rounded", size:"50"%>
    </div>
    <div class="span9">
      <div id="tweet_header">
        <strong><%= full_name post.user %></strong> <%= format_nic post.user %> · <%= how_old_is_post post %>
      </div>
      <%= simple_format post.body %>
    </div>
  </div>
</div>