<div class="hero-unit">
  <div class="container-fluid">
    <div class="span2">
      <%= image_tag @user.avatar.url, class: "img-rounded", size: :medium %>
    </div>
    <div class="span8">
      <h1>
        <%= full_name @user %>
      </h1>

      <h2>
        <%= format_nic @user %>
      </h2>
    </div>
  </div>
</div>

<% if current_user.id == @user.id %>
    <%= form_for @post, url: {action: "add_post"}, remote: true, method: :post do |p| %>
        <div class="field">
          <%= p.text_area :body, rows: "1", class: 'input-xlarge', id: "write_twit", placeholder: "Написать твит...", maxlength: "160" %>
          <div class="actions">
            <%= p.submit 'Твитнуть', class: 'btn' %>
            <span id="write_twit_count"></span>
          </div>
        </div>
    <% end %>
<% end %>

<div class="container">
  <h3>Твиты</h3>
  <% if  @user.posts.empty? %>
      <p><%= format_nic @user %> не написал ни одного твита.</p>
<% else %>
      <div class="posts">
        <%= render partial: "post", collection: @user.posts.reverse %>
      </div>
  <% end %>
</div>