<div class="container-fluid">
  <div class="span2">
    <%= image_tag 'image.jpg' %>
  </div>
  <div class="span8">
    <h1>
      <%=full_name current_user%>
    </h1>

    <h2>
      <%=format_nic current_user%>
    </h2>
  </div>
</div>

<%= form_for @post, url:{action: "add_post"}, method: :post do |p| %>
    <div class="field">
      <%= p.text_area :body, rows:"1", class:'input-xxlarge', id:"write_twit", placeholder:"Написать чирик...", maxlength:"160" %>
      <div class="actions">
        <%= p.submit 'Чирикнуть', class:'btn' %>
        <span id="write_twit_count" style="margin-left:45px"></span>
      </div>
    </div>
<% end %>

<div class="container">
  <h3>Posts</h3>
  <% if  current_user.posts.empty? %>
      <p>No posts =(</p>
  <% else %>
      <%= render partial: "post", collection: current_user.posts.reverse %>
  <% end %>
</div>